
@font-face {
  font-family: 'Airstrip';
  src: url('https://shifaul-expressitbd.github.io/font-cdn/fonts/airstrip.woff2') format('woff2'),
       url('https://shifaul-expressitbd.github.io/font-cdn/fonts/airstrip.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Autography';
  src: url('https://shifaul-expressitbd.github.io/font-cdn/fonts/autography.woff2') format('woff2'),
       url('https://shifaul-expressitbd.github.io/font-cdn/fonts/autography.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pollinator';
  src: url('https://shifaul-expressitbd.github.io/font-cdn/fonts/pollinator.woff2') format('woff2'),
       url('https://shifaul-expressitbd.github.io/font-cdn/fonts/pollinator.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
